* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
}

header {
    font-size: 1.5rem;
    color: #fff;
    background-color: #ff339a;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-height: 10rem;
    z-index: 1;
}
main {
    margin-top: 20%;
    margin-bottom: 10%;
}
.question-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 3px #ff339a;
    margin: 20px 80px 40px 80px;
    padding: 10px;
    position:relative;
}
.question {
    font-size: 1.6rem;
    font-weight: 500;
    margin: 30px;
}
.button-card {
    border: solid 1px #ff339a;
    border-radius: 25px;
    margin: 15px 0px 40px 0px;
    padding: 10px;
    background: #fff;
    color: #ff339a;
    font-size: 1.2rem;
}
.button-card:hover{
    border: solid 1px #ff339a;
    border-radius: 25px;
    padding: 10px;
    background: #ff339a;
    color: #fff;
}
ul {
    list-style: none;
    padding: 0;
}
.tags {
    display: flex;
    align-self: flex-start;
    gap: 5px;
}
.tags li {
    border: solid 1px #000;
    border-radius: 8px;
    background-color: #e8e8e8;
    color: #3a3a3a;
    font-size: 1rem;
    padding: 3px;
}
.bookmark {
    background-color: #fff;
    padding: 0%;
    fill:#ff339a;
    position:absolute;
    top: -20;
    left: 90%;
    width: 50px;
    height: 50px;
}
nav{
    background-color: #ff339a;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-height: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.menu-icon{
    fill: #fff;
    background-color: #ff339a;
    border: 1px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.menu-icon:hover {
    border-bottom: solid 1px #fff;
}
.switch {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 34px;
  }
.switch input {
    opacity: 0;
}
  .slider {
    position: absolute;
    cursor: pointer;
    width: 50px;
    height: 21px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    display: block;
    right: -50px;
    top: 0;
    border-radius: 25px;
    border: #000 solid 0.01px
  }

.slider:before {
    position: absolute;
    content: "";
    cursor: pointer;
    width: 20px;
    height: 18px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    display: block;
    right: 27px;
    top: 1px;
    border-radius: 26px;
}
input:checked + .slider {
    background-color: #ff339a;
}
input:focus + .slider {
    box-shadow: 0 0 0.1px #fff;
  }
  
input:checked + .slider:before {
    -webkit-transform: translateX(27px);
    -ms-transform: translateX(27px);
    transform: translateX(27px);
  }
.counter-icon-solved{
    display:flex;
    border: 5px solid #ff339a;
    border-radius: 50%;
    padding: 1px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #fff;
    background-color: #ff339a;
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
}
.counter-icon-saved{
    fill:#ff339a;
    height: 40px;
    width: 30px;
}
.counter{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.solved, .saved{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100px;
    gap: 20px;
    padding: 0px 10px 0px 5px;
    border: 1px solid #ff339a;
    border-radius: 10px;
}